@inject dbAccountContext dbContext
@inject Radzen.DialogService dialog
@inject NotificationService notificationService
@inject NavigationManager UriHelper
@inject ApiServices apiService
@using NewProject.Components
@using NewProject.Models

<RadzenTemplateForm TItem="tbChucNang" Data="Data" Submit="@(obj => Submit((tbChucNang)obj))">
    <div class="row">
        <div class="col-12">
            <FormField Text="Tên chức năng">
                    <RadzenTextBox @bind-Value="@Data.TenChucNang"></RadzenTextBox>
            </FormField>
            <FormField Text="Đường dẫn">
                    <RadzenTextBox @bind-Value="@Data.DuongDan"></RadzenTextBox>
            </FormField>
            <FormField Text="Biểu tượng">
                    <RadzenTextBox @bind-Value="@Data.BieuTuong"></RadzenTextBox>
            </FormField>
        </div>
    </div>
    <div style="float: right; margin-top: 10px;">
        <RadzenButton Style="margin-right: 10px" ButtonType="ButtonType.Submit">Lưu</RadzenButton>
        <RadzenButton ButtonStyle="ButtonStyle.Light" Click="@(() => ReturnChucNang.InvokeAsync(null))">Hủy
        </RadzenButton>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter] public tbChucNang Record { set; get; } = default!;
    [Parameter] public EventCallback<tbChucNang> ReturnChucNang { set; get; }
    tbChucNang Data;
    bool ChucNangCon = false;
    protected override async Task OnInitializedAsync()
    {
        Data = Record;
    }

    async void Submit(tbChucNang obj)
    {
        if (Record.IdChucNang == 0)
        {
            //1. Chuẩn bị dữ liệu cho bản ghi mới
            //Lấy Id của chức năng mới
            obj.IdChucNang = await apiService.GetId<int>("api/chucnang/getid","seq_tbChucNang");

            //Lấy STT của chức năng
            obj.STT = await apiService.GetId<int>("api/chucnang/getid", "seq_STTChucNang");

            //2. Thêm bản ghi mới vào CSDL
            await apiService.Create<tbChucNang>("api/chucnang", obj);
        }
        else
        {
            //1. Tính toán, bổ sung dữ liệu nếu có

            //2. Lưu thay đổi của dữ liệu
            await apiService.Update<tbChucNang>("api/chucnang", obj);
        }
        ReturnChucNang.InvokeAsync(obj);
    }
}
